################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
v17
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
obj/
.vscode
/bin
*.log
/azurite