<div *ngIf="isLoggedIn" class="ticket-container">
  <div *ngFor="let ticket of tickets" class="ticket">
    <div class="ticket yellow">
      <div class="label">{{ ticket.busName }}</div>
      <div class="serial">{{ ticket.busRouteName }}</div>
      <div class="rate">{{ ticket.firstName }}</div>
      <div class="rate">{{ ticket.seat }}</div>
      <div class="serial">{{ ticket.busTime | date:'shortTime' }}</div>
      <div class="serial">{{ ticket.journeyDate | date }}</div>
      <div class="serial"> To : {{ ticket.toLocation}}</div>
      <button class="toggle-filters-button" (click)="cancelTicket(ticket.passengerId)" style="margin-left: 70px;margin-top: 15px;">Cancel</button>
    </div>
  </div>
</div>
