
<div *ngIf="isLoggedIn" class="ticket">
    <div *ngFor="let ticket of tickets">
      <div class="ticket">
        <h2>{{ ticket.firstName }} {{ ticket.lastName }}</h2>
        <p>Bus Route: {{ ticket.busRouteName }}</p>
        <p>Journey Date: {{ ticket.journeyDate | date }}</p>
        <p>Seat: {{ ticket.fromLocation }}</p>
        <p>Seat: {{ ticket.toLocation }}</p>
        <p>Seat: {{ ticket.seat }}</p>
        <p>Bus Time: {{ ticket.busTime | date:'shortTime' }}</p>
        <p>Bus Name: {{ ticket.busName }}</p>
        <p>Seat: {{ ticket.seat }}</p>
        <p>Status: {{ ticket.status }}</p>
        <button (click)="cancelTicket(ticket.passengerId)">Cancel</button>
      </div>
    </div>
  </div>
  