<div style="height: 100%">
  <!-- Payment gateway section -->
  <div class="payment-container">
    <h3>Secure Payment</h3>
    <form [formGroup]="PaymentFormGroup" (ngSubmit)="submitPayment()">
      <label for="expiryDate">Payment Method</label>
      <input
        type="text"
        list="mylist"
        id="payment"
        placeholder=" --Select one--"
        formControlName="paymentBy"
      />
      <datalist id="mylist">
        <select>
          <option value="UPI Payment"></option>
          <option value="Online Banking"></option>
          <option value="Crypto"></option>
        </select>
      </datalist>

      <button class="payment-button" type="submit">Pay Now</button>
    </form>
  </div>
</div>
