<div class="sticky" style="z-index: 9999;">
    <nav style="justify-content: space-between;font-family: 'Montserrat', sans-serif;color: #edf0f1">
      <div>
          <h1>DKSRTC</h1>
      </div>
      <div>
        <ul class="nav__links">
          <li>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a routerlink = "Login" class="cta">
              <button (click)="GoLogOut()" *ngIf="isLoggedIn">LogOut</button>
              <button (click)="GoLogin()" *ngIf="!isLoggedIn">Login / Sign up</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  