
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')


.bus-search-container
  padding: 20px
  margin: 20px auto
  width: 80%
  max-width: 600px
  border: 1px solid #ccc
  border-radius: 5px
  background-color: #fff
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)

  h1
    font-family: 'Montserrat', sans-serif
    font-size: 24px
    font-weight: bold
    margin-bottom: 10px
    color: #e61212fe

  p
    font-family: 'Montserrat', sans-serif
    font-size: 16px
    margin-bottom: 20px
    color: #1d1c1cfe

.search-form
  display: flex
  flex-direction: column

.full-width
  width: 100%
  margin-bottom: 20px

.search-button
  background-color: #e61212fe
  color: #fff
  border: none
  padding: 10px 20px
  border-radius: 5px
  cursor: pointer
  font-size: 16px
  transition: all 0.3s ease 0s

  &:hover
    background-color: #b61616fe
