<app-navbar></app-navbar>
<div style="width: 100%; height: 100%; background-image: url('../../../assets/ReqImages/Cloudy\ \(1\).svg'); background-size: cover;">
  <form [formGroup]="busSearchForm" (ngSubmit)="searchBus()" class="bus-search-form">
    <h1>Find Your Next Adventure</h1>
    <p>Discover the perfect bus journey for your travels</p>

    <mat-form-field class="full-width">
      <mat-label>Departure Location</mat-label>
      <input
        type="text"
        placeholder="Select Departure"
        aria-label="From Location"
        matInput
        [formControl]="busSearchForm.controls.fromLocation"
        [matAutocomplete]="autoFrom"
        (input)="filterLocations('fromLocation', $event)"
      />
      <mat-autocomplete #autoFrom="matAutocomplete">
        <mat-option *ngFor="let option of filteredFromLocations" [value]="option.locationName">
          {{ option.locationName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Destination Location</mat-label>
      <input
        type="text"
        placeholder="Select Destination"
        aria-label="To Location"
        matInput
        [formControl]="busSearchForm.controls.toLocation"
        [matAutocomplete]="autoTo"
        (input)="filterLocations('toLocation', $event)"
      />
      <mat-autocomplete #autoTo="matAutocomplete">
        <mat-option *ngFor="let option of filteredToLocations" [value]="option.locationName">
          {{ option.locationName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Travel Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="travelDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" class="search-button">Find Buses</button>
  </form>
</div>
