<app-navbar></app-navbar>

<div class="container">
  <div class="seats-container">
    <h1 class="catchy-heading">Discover Your Dream Seats</h1>
    <p class="subtitle">Choose the perfect seats for your journey</p>
    <div>
      <table>
        <tr *ngFor="let row of seatRows; let rowIndex = index">
          <ng-container *ngFor="let seat of row; let seatIndex = index">
            <td style="background-color: white">
              <button (click)="selectSeat(rowIndex, seatIndex)"
                      style="border: none; cursor: pointer; background-color: transparent;">
                <div class="svg-container" [ngClass]="{ 'inner-glow': seat.selected }">
                  <svg width="64" height="30" viewBox="0 0 60 30" style="z-index: 1">
                    <rect x="0.5" y="0.5" width="59" height="29" rx="3.5" fill="transparent" stroke="#BDBDBD"></rect>
                    <rect x="56.5" y="5.5" width="3" height="19" rx="1.5" fill="white" stroke="#BDBDBD"></rect>
                    <text x="32" y="20" text-anchor="middle" fill="#000" font-size="14" font-weight="bold" font-family="Montserrat">
                      {{ getSeatName(rowIndex, seatIndex) }}
                    </text>
                  </svg>
                </div>
              </button>
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>
  <div class="right-section">
    <div *ngIf="selectedSeatsData.length > 0" class="selected-seats" style="padding-left: 20px;">
      <form [formGroup]="seatReservationForm" (ngSubmit)="AddToCheckOut()">   
      <h2 class="catchy-heading" style="font-size: 18px;padding-top: 5%;color: #fb0000fe">Selected Seats</h2>
      <table class="seat-table" formArrayName="passengers">
        <thead style="background-color: #f2f2f2">
          <tr>
            <th style="font-weight: normal">Seat</th>
            <th style="font-weight: normal">First Name</th>
            <th style="font-weight: normal">Last Name</th>
            <th style="font-weight: normal">Age</th>
            <th style="font-weight: normal">Gender</th>
            <th style="font-weight: normal">Phone Number</th>
            <th style="font-weight: normal">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seatReservation of selectedSeatsData; let i = index" [formGroup]="getPassengersGroup(i)">
            <td>{{ seatReservation.SeatId }}</td>
            <td>
              <div>
                <div style="color: red; font-size: 12px" *ngIf="formArray.at(i)?.get('FirstName')?.invalid && (formArray.at(i)?.get('FirstName')?.dirty || formArray.at(i)?.get('FirstName')?.touched)">
                  <div *ngIf="formArray.at(i)?.get('FirstName')?.hasError('required')">* First Name required.</div>
                  <div *ngIf="formArray.at(i)?.get('FirstName')?.hasError('minlength')">* First Name must be at least 2 characters long.</div>
                </div>
                <input type="text" id="FirstName" formControlName="FirstName" />
              </div>
            </td>
            <td>
              <div>
                <div style="color: red; font-size: 12px" *ngIf="formArray.at(i)?.get('LastName')?.invalid && (formArray.at(i)?.get('LastName')?.dirty || formArray.at(i)?.get('LastName')?.touched)">
                  <div *ngIf="formArray.at(i)?.get('LastName')?.hasError('required')">* Last Name required.</div>
                  <div *ngIf="formArray.at(i)?.get('LastName')?.hasError('minlength')">* Last Name must be at least 2 characters long.</div>
                </div>
                <input type="text" id="LastName" formControlName="LastName" />
              </div>
            </td>
            <td>
              <div>
                <div style="color: red; font-size: 12px" *ngIf="formArray.at(i)?.get('Age')?.invalid && (formArray.at(i)?.get('Age')?.dirty || formArray.at(i)?.get('Age')?.touched)">
                  <div *ngIf="formArray.at(i)?.get('Age')?.hasError('required')">* Age required.</div>
                  <div *ngIf="formArray.at(i)?.get('Age')?.hasError('min')">* Age must be 0 or greater.</div>
                </div>
                <input type="number" id="Age" formControlName="Age" />
              </div>
            </td>
            <td>
              <div>
                <div style="color: red; font-size: 12px" *ngIf="formArray.at(i)?.get('Gender')?.invalid && (formArray.at(i)?.get('Gender')?.dirty || formArray.at(i)?.get('Gender')?.touched)">
                  <div *ngIf="formArray.at(i)?.get('Gender')?.hasError('required')">* Gender required.</div>
                </div>
                <input type="text" list="mylist" id="Gender" formControlName="Gender" />
                <datalist id="mylist">
                  <option value="Male"></option>
                  <option value="Female"></option>
                  <option value="Other"></option>
                </datalist>
              </div>
            </td>
            <td>
              <div>
                <div style="color: red; font-size: 12px" *ngIf="formArray.at(i)?.get('PhoneNumber')?.invalid && (formArray.at(i)?.get('PhoneNumber')?.dirty || formArray.at(i)?.get('PhoneNumber')?.touched)">
                  <div *ngIf="formArray.at(i)?.get('PhoneNumber')?.hasError('required')">* Phone Number required.</div>
                  <div *ngIf="formArray.at(i)?.get('PhoneNumber')?.hasError('pattern')">* Phone Number must be 10 digits.</div>
                </div>
                <input type="text" id="PhoneNumber" formControlName="PhoneNumber" />
              </div>
            </td>
            <td>
              <div>
                <div style="color: red; font-size: 12px" *ngIf="formArray.at(i)?.get('Email')?.invalid && (formArray.at(i)?.get('Email')?.dirty || formArray.at(i)?.get('Email')?.touched)">
                  <div *ngIf="formArray.at(i)?.get('Email')?.hasError('required')">* Email required.</div>
                  <div *ngIf="formArray.at(i)?.get('Email')?.hasError('email')">* Invalid email format.</div>
                </div>
                <input type="email" id="Email" formControlName="Email" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="padding-left:66%;padding-top: 3%;">
        <button class="button-class" (click)="AddToCheckOut()">Add To CheckOut</button>
      </div>
      </form>  
    </div>
  </div>
</div>
