<div>
    <h1>Hi Welcome Back</h1>
     <h3>Login Here</h3>
      <form [formGroup]="loginForm"   (ngSubmit)="onLogin()">
        <div>
          <label for="email">Email</label>
          <input formControlName="email"  required  type="email">
          <br><br>
          <label for="password">Password</label>
          <input formControlName="password"  type="password">
          <br><br>
        </div>
        <button  routerLink=""  >Login</button>
        <br><br>
        <span>Don't have an account? 
            <br><br>
        <a routerLink="SignUp" (click)="GoSignUp()">SignUp</a></span>
      </form>
  </div>

  <!-- [formGroup]="loginForm" -->